body {
    background-color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
}

#sketchpad {
    display:flex;
    width:600px;
    height:600px;
    margin:auto;
    margin-top: 50px;
    
}

div .pixel {
    
    border: blanchedalmond;
    border: solid 1px rgb(0, 217, 255);
    flex-basis: 40px;
    background-color: whitesmoke;
    color:rgb(6, 72, 253);
    
}
